<html>
<head>
</head>
<body>
  <h1>Aya-chan Admin Commands:</h1>
   <u>Description</u> - <u>>Command</u>
  <ul>
    <li>Adds a specific role to user(s) {role username...} - giveRole</li>
    <li>Removes a specific role from user(s) {role username...} - removeRole</li>
    <li>Clears erbs linked account database of all entries, requires dev password {password} - deleteAllLinkedUsernames
    <li>Gets an Erbs username for the user passed in if they exist in the server or have linked their account - getUsername
    <li>Gets all Erbs usernames that are linked - getAllUsernames </li>
    <li>Sets ERBS username for a specific user, requires dev password {discord name, username, password} - setUsername
    <li>Deletes ERBS username for a specific user, requires dev password {discord name, password} - deleterUsername
  </ul>
  <p> Work in Progress </p>
</body>
</html>