<html>
<head>
</head>
<body>
  <h1>Aya-chan Commands:</h1>
   <u>Description</u> - <u>>Command</u>
  <ul>
    <li>Validates that bot is awake - ping</li>
    <li>Returns url to this page - cmdList</li>
    <li>Rolls X amount of N-sided dice{XdN} - roll </li>
    <li>Enters ERBS name for api access other commands, links to your discord name and it is case-sensitive{Erbs Username} - linkErbsAccount</li>
    <li>Deletes ERBS name linked to discord name - unlinkErbsAccount</li>
    <li>Retrieves your ERBS name tied to your discord name - getErbsAccountName</li>
    <li>Gets world's current top 100 solo leaderboard for ERBS - getErbsSoloLeaderboard</li>
    <li>Gets world's current top 100 duo leaderboard for ERBS - getErbsDuoLeaderboard</li>
    <li>Gets world's current top 100 squad leaderboard for ERBS - getErbsSquadLeaderboard</li>
  </ul>
  <p> Work in Progress </p>
</body>
</html>