<html>
<head>
</head>
<body>
  <h1>Aya-chan Commands:</h1>
   <u>Description</u> - <u>>Command</u>
  <ul>
    <li>Validates that bot is awake - ping</li>
    <li>Returns url to this page - commandList</li>
    <li>Rolls X amount of N-sided dice{XdN} - roll </li>
    <li>Enters ERBS name for api access other commands, links to your discord name and it is case-sensitive{Erbs Username} - linkErbsAccount
    <li>Deletes ERBS name linked to discord name - unlinkErbsAccount
    <li>Retrieves your ERBS name tied to your discord name - getErbsAccountName
  </ul>
  <p> Work in Progress </p>
</body>
</html>