<html>
<head>
</head>
<body>
  <h1>Aya-chan Commands:</h1>
   <u>Description</u> - <u>Command</u>
  <ul>
    <li>Validates that bot is awake - >ping</li>
    <li>Returns url to this page - >commandList</li>
    <li>Rolls an N-sided die, X amount of times {NdX} - >roll </li>
    <li>Adds Tournament Attendee Role to an user {username} - >addAttendee</li>
    <li>Adds a specific role to an user {username @role} - >giveRole</li>
    <li>Removes a specific role from an user {username @role} - >removeRole</li>
  </ul>
  <p> Work in Progress </p>
</body>
</html>